/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.library {
    overflow: hidden !important;
    display: flex;
    /* align-items: initial; */
}
.library .folders, .library .notes {
    width: 50%;
    height: 100%;
}
.library .folders {
    overflow: scroll;
    margin-right: 1em;
}
.library .notes {
    left: 50%;
    font-size: small;
    overflow: scroll;
    background-color: #111;
    padding: 1em;
    margin-top: -1em;
    margin-bottom: -1em;
}
.library-summary-container {
    --line-height: 1.5em;
    padding: calc(var(--line-height) / 2);
    /* border-bottom: 1px solid #4444; */
}
.library-summary {
    line-height: var(--line-height);
    height: calc(var(--line-height) * 5);
    margin: 0;
    overflow: hidden;
}
.library-summary .content {
    color: #666;
}
.library .nav-folder-collapse-indicator.empty {
    visibility: hidden;
}
