.library {
    overflow: hidden !important;
    display: flex;
}
.library .workspace-split {
    width: 100%;
}
.library .library-folders, .library .library-notes {
    height: 100%;
}
.library .library-folders {
    overflow: scroll;
    margin-right: 1em;
}
.library .library-notes {
    font-size: small;
    overflow: scroll;
    background-color: #111;
    padding: 1em;
    margin-top: -1em;
    margin-bottom: -1em;
}
.library-summary-container {
    --line-height: 1.5em;
    padding: calc(var(--line-height) / 2);
}
.library-summary {
    line-height: var(--line-height);
    height: calc(var(--line-height) * 5);
    margin: 0;
    overflow: hidden;
}
.library-summary .content {
    color: #666;
}
.library .nav-folder-collapse-indicator.empty {
    visibility: hidden;
}
